#footer { 
  background-color: #efefef;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
     
table.dataTable tbody tr.bg-blue, tr.bg-blue {
  background: lightblue !important;
}
